<a href="https://colab.research.google.com/github/Ayushi-Agrawal-011/python-assignment/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
l1=np.random.randint(1,11,10)
print(l1.shape)
print(l1.size)
print(type(l1))
l1

(10,)
10
<class 'numpy.ndarray'>

array([1, 7, 2, 4, 3, 2, 3, 4, 8, 2])

In [2]:
import numpy as np
l3=np.random.rand(3,5,3)
print(l3.shape)
print(l3.size)
print(type(l3))
l3

(3, 5, 3)
45
<class 'numpy.ndarray'>

array([[[0.32532935, 0.59852358, 0.00525716],
        [0.65227108, 0.3719129 , 0.58749826],
        [0.22860458, 0.69118298, 0.17625196],
        [0.8294697 , 0.5586836 , 0.11712444],
        [0.38381612, 0.49431989, 0.43459806]],

       [[0.63312081, 0.62959382, 0.06720735],
        [0.25903214, 0.20551153, 0.25268426],
        [0.14633248, 0.20366178, 0.42247468],
        [0.32726655, 0.12241286, 0.06661849],
        [0.65180054, 0.19123644, 0.4848041 ]],

       [[0.22937351, 0.2202762 , 0.33021392],
        [0.37196972, 0.24019074, 0.09654055],
        [0.39675411, 0.51792088, 0.81513333],
        [0.57068367, 0.16528262, 0.19950035],
        [0.79155084, 0.32467309, 0.5360528 ]]])

In [3]:
import numpy as np
l2=np.random.randint(1,10,9).reshape(3,3)
print(l2.shape)
print(l2.size)
print(type(l2))
l2

(3, 3)
9
<class 'numpy.ndarray'>

array([[6, 8, 3],
       [1, 8, 1],
       [2, 4, 4]])

In [4]:
import numpy as np
data = [10, 20, 30, 40, 50, 60, 70, 80, 90]
l1=np.array(data)
print(l1[0:3])
print(l1[::2])
print(l1[::-1])

[10 20 30]
[10 30 50 70 90]
[90 80 70 60 50 40 30 20 10]

In [5]:
import numpy as np
A=np.random.randint(1,20,5)
B=np.random.randint(1,20,5)
print(A)
print(B)
add=A+B
sub=A-B
mul=A*B
div=A/B
print("Addition :",add)
print("Subtraction :",sub)
print("Multiplication :",mul)
print("Division:",div)

[ 6  3  1  8 13]
[13 12 12  3 15]
Addition : [19 15 13 11 28]
Subtraction : [ -7  -9 -11   5  -2]
Multiplication : [ 78  36  12  24 195]
Division: [0.46153846 0.25       0.08333333 2.66666667 0.86666667]

In [6]:
A=np.random.randint(1,20,5)
B=np.random.randint(1,20,5)
print(A)
print(B)
dot_product = np.dot(A, B)
# Or alternatively:
# dot_product = A @ B
print(dot_product)

[17 18  7 16 19]
[6 4 3 9 7]
472

In [7]:
A=np.random.randint(1,20,5)
B=np.random.randint(1,20,5)
print(A)
print("Mean :",np.mean(A))
print("Median :",np.median(A))
print("Standard deviation :",np.std(A))
print("Varience :",np.var(A))

[ 3 12  4 14 15]
Mean : 9.6
Median : 12.0
Standard deviation : 5.083306010855534
Varience : 25.839999999999996

In [8]:
A=np.random.randint(1,20,5)
B=np.random.randint(1,20,5)
print(B)
print("Maximum :",np.max(B))
print("Minimum :",np.min(B))
print("Maximum idx :",np.argmax(B))
print("Minimum idx :",np.argmin(B))

[ 2  9 18 18  3]
Maximum : 18
Minimum : 2
Maximum idx : 2
Minimum idx : 0

In [9]:
l1=np.random.randint(1,12,12)
print(l1)
print("2D Array of Size 4X3")
print(l1.reshape(4,3))
print("3D Array of Size 2X2X3  ")
print(l1.reshape(2,2,3))
print("Transpose of 2D Array")
print(np.transpose(l1.reshape(4,3)))
print("Transpose of 2D Array and its shape")
print(np.transpose(l1.reshape(4,3)).shape)

[ 8  4 11  9  5  2 11 10  4 10  5 11]
2D Array of Size 4X3
[[ 8  4 11]
 [ 9  5  2]
 [11 10  4]
 [10  5 11]]
3D Array of Size 2X2X3
[[[ 8  4 11]
  [ 9  5  2]]

 [[11 10  4]
  [10  5 11]]]
Transpose of 2D Array
[[ 8  9 11 10]
 [ 4  5 10  5]
 [11  2  4 11]]
Transpose of 2D Array and its shape
(3, 4)

In [10]:
import numpy as np

l2=np.random.randint(10,50,15)
print(l2)
print("Numbers Greater than 25 :")
print(l2[l2>25])
print("Replacing all elements less than 30 with 0 :")
l2[l2<30]=0
print(l2)
print("number of nonZero elements divisible by 5")
print(np.count_nonzero(l2[l2%5==0]))
print("number of  elements divisible by 5")
print(np.count_nonzero(l2%5==0))

[21 35 16 29 31 49 31 23 31 20 46 48 49 15 13]
Numbers Greater than 25 :
[35 29 31 49 31 31 46 48 49]
Replacing all elements less than 30 with 0 :
[ 0 35  0  0 31 49 31  0 31  0 46 48 49  0  0]
number of nonZero elements divisible by 5
1
number of  elements divisible by 5
8

In [11]:
import numpy as np
l1=np.linspace(0,1,10)
print("Array of 10 equally spaced values between 0 and 1 \n")
print(l1)

Array of 10 equally spaced values between 0 and 1

[0.         0.11111111 0.22222222 0.33333333 0.44444444 0.55555556
 0.66666667 0.77777778 0.88888889 1.        ]

In [12]:
import numpy as np
print(np.eye(4,dtype="int"))

[[1 0 0 0]
 [0 1 0 0]
 [0 0 1 0]
 [0 0 0 1]]

In [13]:
import numpy as np
l3=np.random.randint(1,100,20)
print("Original Array :-")
print(l3)
print("Sorted Array :-")
print(np.sort(l3))
print("5 largest elements")
print(np.sort(l3)[-5:][::-1])

Original Array :-
[10 49 28 30 35 34 66 94  1 93 17 43 29  6 28 48  9 33 19 58]
Sorted Array :-
[ 1  6  9 10 17 19 28 28 29 30 33 34 35 43 48 49 58 66 93 94]
5 largest elements
[94 93 66 58 49]

In [14]:
import numpy as np
import time

# Step 1: Generate two random 100x100 arrays
A = np.random.rand(100, 100)
B = np.random.rand(100, 100)

# Step 2: Start the timer
start_time = time.time()
print(f"Operation Start time :{start_time} \n")

# Step 3: Matrix multiplication
C = np.dot(A, B)
print("Matrix multiplication completed.\n")
print(C,"\n")


# Step 4: Calculate determinant
det_C = np.linalg.det(C)
print(f"Determinant of the result: {det_C} \n")


# Step 5: Try to calculate inverse if determinant is not zero
if np.isclose(det_C, 0):
    inverse_C = None
    invertible = False
else:
    inverse_C = np.linalg.inv(C)
    invertible = True

# Step 6: End the timer
end_time = time.time()
print(f"Operation end time :{end_time} \n")

elapsed_time = end_time - start_time

# Step 7: Print results
print("Matrix is invertible." if invertible else "Matrix is not invertible.")
if invertible:
    print("Inverse matrix calculated successfully.")
    print(inverse_C,"\n")
print(f"Time taken: {elapsed_time:.4f} seconds")

Operation Start time :1752307510.622198

Matrix multiplication completed.

[[22.95393557 26.6223978  23.77843299 ... 25.05505701 25.77280213
  27.69253054]
 [20.83448138 24.1712187  22.97927658 ... 22.26103924 23.91408275
  25.42286383]
 [21.36747886 25.06562984 23.75298453 ... 25.13113792 23.88836364
  27.86718068]
 ...
 [22.7790942  25.47852755 21.36128071 ... 22.42680745 24.74869622
  24.14527737]
 [21.92149616 25.75563716 23.99363542 ... 23.68655195 25.11365077
  25.0658662 ]
 [21.71303107 24.91879227 22.07166727 ... 23.16920118 25.29193229
  25.05537896]]

Determinant of the result: 7.316930352585147e+51

Operation end time :1752307510.641653

Matrix is invertible.
Inverse matrix calculated successfully.
[[ 0.30693867  2.03281675  0.952613   ...  2.1927024  -1.6390529
  -1.42372466]
 [ 0.13858802 -5.27811879 -2.47142459 ... -5.46607585  2.15913732
   3.48897089]
 [-0.00815922 -1.7187899  -1.595061   ... -1.97474213  0.75421368
   0.19190062]
 ...
 [ 0.29399532  1.91211085  0.84667995 ...  1.91081086 -1.24658742
  -1.02250032]
 [-0.82492198  4.53426317  3.7942206  ...  3.71142496 -3.45036326
  -2.57454341]
 [-0.55541322  0.55834073  0.13513934 ...  0.81829491  0.13458001
   0.02342297]]

Time taken: 0.0195 seconds